.above {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #bebcbd;
   

}
.box { 

    overflow: hidden;
    height: 784px;
    display: flex;
    gap: 15px;
    position: relative;
    min-height: 784px;
}


.box .product-slider-images { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.slider-thumbnail {
   
  
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .slider-thumbnail.active {
    border-color: #333;
  }
  

.slider-thumbnail:hover {
    transform: scale(1.1);
}


.product-slider-container {
    position: relative;
}

.product-slider-container .slider-image { 
    position: absolute;
    bottom: 190px;
    left: -65px;
    cursor: pointer;
}


.box .product-image .product-main-image { 
    width: 520px;
    height: 784px;
   
}


.box .product-details { 
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
    flex: 1;
    min-width: 300px;
}


.box .product-details .breadcrumb { 
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: #3c4242;
    font-weight: 500;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


.box .product-details h1 { 
    font-size: 34px;
    font-weight: 600;
    color: #3c4242;
    margin-bottom: 20px;
    
}

.product-details .rating { 
    display: flex;
   text-align: center;
   gap: 25px;
   margin-bottom: 13px;
   margin-top: 13px;
  

}

.product-details .rating .star { 
    display: flex;
    gap: 10px;

}

.product-details .rating .star img { 
    width: 150px;
    height: 22px;

}

.product-details .rating .star h1 { 
    font-size: 18px;
    font-weight: 500;
    color: #807d7e;

}

.product-details .rating div { 
    display: flex;
    gap: 10px;
    

}

.product-details .rating div img { 
    width: 20px;
    height: 17.69px;


}

.product-details .rating div p { 
    font-size: 18px;
    font-weight: 500;
    color: #807d7e;

}

.product-details .size { 
    

}

.product-details .size .top { 
    display: flex;
    gap: 20px;
   

}

.product-details .size .top h1 { 
    font-size: 18px;
    font-weight: 600;
    color: #3f4646;

}

.product-details .size .top h2 { 
    font-size: 18px;
    font-weight: 600;
    color: #807d7e;

}
.product-details .size .top img { 
    width: 13.59px;
    height: 12px;
    margin-top: 10px;
    
}

.product-details .size .bottom { 
    

}

.product-details .size .bottom ul { 
    display: flex;
    gap: 30px;

}

.product-details .size .bottom ul li { 
    padding:  8px 15px;
    border: 1.5px solid #bebcbd;
    border-radius: 40%;
    border-radius: 40%;
    cursor: pointer;
    color: #3c4242;
    background-color: #fff;
    transition: background 0.3s ease, color 0.3s ease;

}
.product-details .size .bottom ul li.selected-size {
    background-color: #3c4242;
    color: #fff;
  }


.product-details .colors {
    margin-top: 50px;
}

.product-details .colors h1 {
    font-size: 18px;
    font-weight: 600;
    color: #3f4646;
    margin-bottom: 30px;
}

.product-details .colors .colourname {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.color-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1.5px solid transparent;
    transition: all 0.3s ease;
}
.color-wrapper.selected {
    border-color: #3f4646;
}
.color-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.product-details .colors .colourname .color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}


.product-details .colors .colourname .black {
    background-color: #000;
}

.product-details .colors .colourname .yellow {
    background-color: #edd146;
}

.product-details .colors .colourname .pink {
    background-color: #eb84b0;
}

.product-details .colors .colourname .maroon {
    background-color: #9c1f35;
}


.product-details .colors .colourname .selected {
    outline: 1px solid #333;
    transform: scale(1.1);
    padding: 3px;
   
}


.box .product-details .cart { 
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
}

.box .product-details .cart button { 
    padding: 12px 40px;
    background-color: #8a33fd;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: causten; 
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
   
}

.box .product-details .cart button:hover {
    background-color: #6a28c4;
}

.box .product-details .cart button img {
    background: none;
    color: #fff;
   
}

.box .product-details .cart h1 { 
    border: 1px solid #3c4242;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 40px;
    text-align: center;
    margin-bottom: 4px;
}


.box .product-details .feature-container { 
    border-top: 1px solid #bebcbd;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 40px;
}

.box .product-details .feature-container .feature-column .feature-item { 
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}


.bottom-description { 
    
    display: flex;
 
    gap: 20px;
    margin-bottom: 80px;
    margin-top: 100px;
}
   


.bottom-description .bottom-left .top { 
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
}

.bottom-description .bottom-left .top h1 { 
    font-size: 28px;
    font-weight: 600;
    color: #3c4242;
}

.bottom-description .bottom-left .bottom { 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
}


.bottom .heading { 
  display: flex;
  gap: 30px;
  align-items: center;
  
    
    

}

.bottom .heading h1 {
    position: relative;
    font-size: 18px;
    
    color: #3c4242;
    font-weight: 500;
}

.bottom .heading h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 1%;
    width: 50%;
    height: 1.4px;
    background-color: #000;
}

.bottom .heading .middle { 
    display: flex;
    gap: 12px;
   align-items: center;

}

.bottom .heading .middle h2 { 
    font-size: 18px;
    font-weight: 400;
    color: #807d7e;


}

.bottom .heading .middle span { 
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 30%;
    background-color: #8a33fd;


}

.bottom .heading .end { 
    display: flex;
    gap: 12px;
    align-items: center;

}

.bottom .heading .end h3 { 
    font-size: 18px;
    font-weight: 400;
    color: #807d7e;

}

.bottom .heading .end span { 
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    padding: 2px 7px;
    border-radius: 30%;
    background-color: #3c4242;


}

.heading h1,
.heading .middle,
.heading .end {
  cursor: pointer;
  position: relative;
  padding-bottom: 6px;
}

.heading h1.active::after,
.heading .middle.active::after,
.heading .end.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 1.4px;
  background-color: #000;
  transition: all 0.3s ease;
}


.bottom-description .bottom-left .bottom p { 
    font-size: 16px;
    font-weight: 400;
    color: #807d7e;
    margin-top: 30px;
    width: 610px;
}


.bottom-description .bottom-right .details-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #f8f8f8;
    border-radius: 8px;
    padding: 20px;

}

.bottom-description .bottom-right .details-table .detail-item {
    padding: 15px;
    border-right: 1px solid #bebcbd;
    border-bottom: 1px solid #bebcbd;
    font-size: 16px;
    font-weight: 400;
    color: #807d7e;
}

.bottom-description .bottom-right .details-table .detail-item span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #3c4242;
    margin-top: 5px;
}


.bottom-description .bottom-right .details-table .detail-item:nth-child(3n) {
    border-right: none;
}

.bottom-description .bottom-right .details-table .detail-item:nth-last-child(-n+3) {
    border-bottom: none;
}


.similar-products { 
    margin-bottom: 80px;
}

.similar-products .top { 
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.similar-products .top h2 { 
    font-size: 34px;
    font-weight: 600;
    color: #3c4242;
}

.similar-products .bottom .similar-products-container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50.27px;
}

.similar-products .bottom .similar-products-container .product-card { 
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.similar-products .bottom .similar-products-container .product-card .primary-img { 
    width: 282px;
    height: 441px;
    border-radius: 10px;
}

.similar-products .bottom .similar-products-container .product-card .similar-products-info { 
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 10px 0;

}

.similar-products .bottom .similar-products-container .product-card .similar-products-info .about h3 { 
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #2a2f2f;
}
.similar-products .bottom .similar-products-container .product-card .similar-products-info .about p {
    font-size: 14px;
    font-weight: 500;
    color: #807d7e;
}

.similar-products .bottom .similar-products-container .product-card .price {
    font-size: 14px;
    font-weight: 700;
    color: #3c4242;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #f6f6f6;
}

.similar-products .bottom .similar-products-container .product-card .heart { 
  display: none;
   
}

 .similar-products .bottom .similar-products-container .product-card .heart:hover {
    transform: scale(1.2);
} 


@media all and (max-width: 1200px) {
    .product-slider-container .slider-image {
        display: none;

    }

    .box .product-image .product-main-image {
        width: 450px;
        height: 640px;
    
    }
    .similar-products .bottom .similar-products-container .product-card .heart { 
        display: none;
    }

    .bottom-description { 
        flex-wrap: wrap;
    }


    .box .product-slider-images {
        display: none;
    }
        .box .product-details h1 {
        font-size: 28px;

    }
    .box .product-details .star {
        width: 300px;
    }

   
          
    .box .product-details .size {
        width: 220px;
    }
    .box .product-details .cart {
        display: flex;
       
    }
    .box .product-details .feature-container .feature-column .feature-item h1 {
        font-size: 15px;
    }
    .similar-products .bottom .similar-products-container .product-card .similar-products-info .about h3 {
        font-size: 14px;
    }
    .similar-products .bottom .similar-products-container {
        grid-template-columns: repeat(2, 1fr);
   }
   
}
@media all and (max-width: 980px) {
    
    .box {
      flex-direction: column;
      border-top: none;
      
      margin-bottom: 50px;
    }
    .box .product-image .product-main-image {
        width: 200px;
        height: 250px;
    }
    .box .product-details {
        padding-left: 0;
    }
}
@media all and (max-width: 768px) {
    .similar-products .bottom .similar-products-container {
        grid-template-columns: repeat(1, 1fr);
   }
   
}
@media all and (max-width: 640px) {
    .bottom .bottom-left .bottom p {
        font-size: 12px;
        margin-top: 15px;
    }
    .similar-products .top h2 {
        font-size: 30px;
    }
    .bottom .bottom-left .top h1 {
        font-size: 30px;
    }
    .bottom .bottom-left .bottom .frame-37 {
        width: 300px;
        height: 30px;
    }
    .box .product-details .cart {
        display: none;
    }
   
    .bottom .bottom-right .details-table {
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom .bottom-right .details-table .detail-item:nth-child(3n) {
        border-bottom: 1px solid #bebcbd;
    }
    .bottom .bottom-right .details-table .detail-item:nth-child(4n) {
        border-bottom: 1px solid #bebcbd;
    }
    .bottom .bottom-right .details-table .detail-item:nth-child(5n) {
        border-bottom: 1px solid #bebcbd;
    }
    .bottom .bottom-right .details-table .detail-item:nth-child(3n) {
        border-right: 1px solid #bebcbd;
    }
    .box .product-details .feature-container {
        display: none;
    }
    .bottom-description {
        display: none;
    }

  
}
@media all and (max-width: 480px) {
   
    .bottom .bottom-left .bottom { 
        width: 400px;
    }
    .bottom .bottom-left .bottom { 
        width: 350px;
    }
    .bottom-description .bottom-left .bottom .frame-37 {
        width: 400px;
    }
    .bottom .bottom-right .details-table .detail-item span {
        font-size: 14px;
    }
    .bottom-description .bottom-left .bottom p {
        width: 400px;
    }


}
@media all and (max-width: 360px) {
    .bottom .bottom-right .details-table .detail-item span {
        font-size: 12px;
    }
    .bottom .bottom-left .bottom { 
        width: 280px;
    }
    .bottom .bottom-left .top h1 {
        font-size: 24px;
    }
    .similar-products .top h2 {
        font-size: 24px;
    }
    .box .product-details h1 {
        font-size: 24px;
    }

}
@media all and (max-width: 320px) {
    .bottom .bottom-left .bottom { 
        width: 250px;
    }
}

